/* HTML, BODY, WRAPPER */

body, html {
	background-color: #0d0d0d;
	height: 100%;
	padding: 0;
	margin: 0;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

a:visited {
	color: #fff;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	min-width: 100%;
}

/* HEADER */

header {
	border-bottom: #fff solid 1px;
	overflow: hidden;
}

.content-menu {
	display: flex;
	justify-content: space-between;
	font-size: 1.5vw;
}

.navigation ul, .auth ul {
	display: flex;
	margin: 50px 0 0 0;
}

.navigation ul li a, .auth ul li a {
	color: #fff;
	padding: 0 20px 0 20px;
}

.navigation ul li a:hover, .auth ul li a:hover {
	color: #ff66cc;
}

.vinyl-name {
    color: white;
	font-size: 2vw;
	font-family: 'Rubik Mono One', sans-serif;
    letter-spacing: 0.2em;
    font-weight: 700;
	text-align: center;
	padding: 0 0 0 30px;
    text-shadow: 0 0 10px #fff,
					 0 0 20px #fff,
					 0 0 30px #fff,
					 0 0 40px #ff00de,
					 0 0 70px #ff00de,
					 0 0 80px #ff00de,
					 0 0 100px #ff00de,
                     0 0 150px #ff00de;
    animation-name: shadowAnim;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.navigation ul li a, .auth ul li a, .vinyl-name {
	user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

@keyframes shadowAnim {
		10%
		{
			text-shadow: 0 0 10px #fff,
					 0 0 20px #fff,
					 0 0 30px #fff,
					 0 0 40px #e600c8,
					 0 0 70px #e600c8,
					 0 0 80px #e600c8,
					 0 0 100px #e600c8,
					 0 0 150px #e600c8;
		}
		20%
		{
			text-shadow: 0 0 10px #fff,
					 0 0 20px #fff,
					 0 0 30px #fff,
					 0 0 40px #d200b7,
					 0 0 70px #d200b7,
					 0 0 80px #d200b7,
					 0 0 100px #d200b7,
					 0 0 150px #d200b7;
		}
		30%
		{
			text-shadow: 0 0 10px #fff,
						 0 0 20px #fff,
						 0 0 30px #fff,
						 0 0 40px #bf00a6,
						 0 0 70px #bf00a6,
						 0 0 80px #bf00a6,
						 0 0 100px #bf00a6,
						 0 0 150px #bf00a6;
		}
		40%
		{
			text-shadow: 0 0 10px #fff,
					 0 0 20px #fff,
					 0 0 30px #fff,
					 0 0 40px #ab0095,
					 0 0 70px #ab0095,
					 0 0 80px #ab0095,
					 0 0 100px #ab0095,
					 0 0 150px #ab0095;
		}
		50%
		{
			text-shadow: 0 0 10px #ffe6fc,
					 0 0 20px #ffe6fc,
					 0 0 30px #ffe6fc,
					 0 0 40px #980084,
					 0 0 70px #980084,
					 0 0 80px #980084,
					 0 0 100px #980084,
					 0 0 150px #980084;
		}
		60%
		{
			text-shadow: 0 0 10px #ffe6fc,
						 0 0 20px #ffe6fc,
						 0 0 30px #ffe6fc,
						 0 0 40px #840073,
						 0 0 70px #840073,
						 0 0 80px #840073,
						 0 0 100px #840073,
						 0 0 150px #840073;
		}
		70%
		{
			text-shadow: 0 0 10px #ffbff7,
					 0 0 20px #ffbff7,
					 0 0 30px #ffbff7,
					 0 0 40px #700062,
					 0 0 70px #700062,
					 0 0 80px #700062,
					 0 0 100px #700062,
					 0 0 150px #700062;
		}
		80%
		{
			text-shadow: 0 0 10px #ffbff7,
					 0 0 20px #ffbff7,
					 0 0 30px #ffbff7,
					 0 0 40px #5d0051,
					 0 0 70px #5d0051,
					 0 0 80px #5d0051,
					 0 0 100px #5d0051,
					 0 0 150px #5d0051;
		}
		90%
		{
			text-shadow: 0 0 10px #ffabf4,
						 0 0 20px #ffabf4,
						 0 0 30px #ffabf4,
						 0 0 40px #490040,
						 0 0 70px #490040,
						 0 0 80px #490040,
						 0 0 100px #490040,
						 0 0 150px #490040;
		}
		100%
		{
			text-shadow: 0 0 10px #ff98f2,
						 0 0 20px #ff98f2,
						 0 0 30px #ff98f2,
						 0 0 40px #35002e,
						 0 0 70px #35002e,
						 0 0 80px #35002e,
						 0 0 100px #35002e,
						 0 0 150px #35002e;
		}
}

/* MAIN STYLES */

main
{
	flex: 1 1 auto;
	width: 100%;
	height: 87%;
}

.itemblock
{
	position: relative;
	display: inline-block;
	overflow: hidden;
	background-image: url('../img/vin.png');
	background-size: 30em auto;
	background-repeat: no-repeat;
	color: white;
	height:30em;
	width: 100%;
	text-align: right;
}

.itemblock span
{
	/* position: absolute; */
	font-size: 300%;
	font-weight: 900;
	margin-right: 2em;
}

.itemblock a
{
	/* position: absolute; */
	font-weight: 100;
	font-size: 100%;
	color: rgb(246, 169, 246);
}

.itemblock span:nth-child(6)
{
	color: rgb(166, 238, 132);
}

.itemblock a:hover
{
	color: white;
}

.imgblock
{
	position: relative;
	display: inline-block;
	height: auto;
	width: 30%;
	overflow: hidden;
}
.imgblock img {
    height: auto;
	width: 100%;
	opacity: 70%;
}
.imgblock a
{
	color: #fff;
    position: absolute;
    right: 35%;
    /* bottom: 10px; */
	font-size: 200%;
	text-decoration: none;
	text-align: center;
	/* padding-top: 40%; */
	font-weight: 1000;
	/* padding-left: 50%; */
	right: 0;
    bottom: 10px;
    /* font-size: 18px; */
    padding: 3px 5px;

}
.imgblock a:hover
{
	opacity: 50%;
}

/* LOGIN, REGSTER PAGES */

.content-register form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* margin: 0 50px; */
}

.content-register {
	color: #fff;
	border: #980084 solid 1px;
	height: 200px;
	width: 300px;
	margin: 30px auto;
	padding: 50px;
	border-radius: 20px;
}

/* FOOTER  */

footer {
	border-top: #fff solid;
	color: #fff;
	flex: 0 0 auto;
}